*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'comic_sans', Arial, Helvetica, sans-serif;
  
  }
  
  body { 
     background: rgb(53, 53, 53);
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
  }
  
  main {
      position: relative;
      width: 80%;
      max-width: 1000px;
      min-height: 600px;
      background: #f0eded;
      display: grid;
      grid-template-columns: 1fr 2fr;
      box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
  }
  #perfil {
      position: relative;
      background-color: rgb(131, 131, 131);
      padding: 100px;
      border-radius: 20px;
  }
  
  .nome_perfil {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  
  }
  
  #imagem_perfil {
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      background: #000000;
  }
  
  .nome_perfil h2 {
      color: #000000;
      font-size: 1.1em;
      text-transform: uppercase;
      margin-top: 0px;
      text-align: center;
      font-weight: 550;
      line-height: 1.8em;
  
  }
  
  .nome_perfil h2 span {
      font-size: 1em;
      font-weight: 550;
  
  }
  .texto_curriculo{
    margin-left: 50px;
    top: 20px;
  }
  .textos_descricao {
    margin: 10px 0;
    margin-left: 60px;
  }
